In [3]:
import pandas as pd

In [17]:
house_price = pd.read_csv("/data/notebook_files/AB_US_2020.csv")
house_price.head(5)

/opt/python/envs/default/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,NaN,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,NaN,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,NaN,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,NaN,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,NaN,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [18]:
house_price.drop(axis=1, columns=["neighbourhood_group","city"], inplace=True)

In [15]:
house_price.head(5)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0,Asheville
1,80905,French Chic Loft,427027,Celeste,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288,Asheville
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298,Asheville
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0,Asheville
4,160594,Historic Grove Park,769252,Elizabeth,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0,Asheville

In [20]:
house_price.drop(2, axis=0)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,28804,35.651460,-82.627920,Private room,60,1,138,16/02/20,1.14,1,0
1,80905,French Chic Loft,427027,Celeste,28801,35.597790,-82.555400,Entire home/apt,470,1,114,07/09/20,1.03,11,288
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,28806,35.578640,-82.595780,Entire home/apt,90,1,267,22/09/20,2.39,5,0
4,160594,Historic Grove Park,769252,Elizabeth,28801,35.614420,-82.541270,Private room,125,30,58,19/10/15,0.52,1,0
5,209068,Terrace Cottage,1029919,Kevin,28804,35.618560,-82.552760,Entire home/apt,134,7,54,14/01/20,0.49,1,294
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226025,45506143,"DC Hidden In Plain ""Site""",25973146,Marci,"Downtown, Chinatown, Penn Quarters, Mount Vern...",38.903880,-77.029730,Entire home/apt,104,1,0,NaN,NaN,2,99
226026,45511428,DC 3 BR w/ screen porch 3 blck to metro w/ par...,231133074,Thomas,"Brookland, Brentwood, Langdon",38.920820,-76.990980,Entire home/apt,151,2,0,NaN,NaN,1,300
226027,45514685,Charming Penthouse Apt w/ Rooftop Terrace in L...,33758935,Bassem,"Shaw, Logan Circle",38.911170,-77.033540,Entire home/apt,240,2,0,NaN,NaN,1,173
226028,45516412,Adams Morgan/Nat'l Zoo 1 BR Apt #32,23193071,Michael,"Kalorama Heights, Adams Morgan, Lanier Heights",38.926630,-77.044360,Entire home/apt,60,21,0,NaN,NaN,5,362
226029,45517735,Beautiful large one-bedroom w/ washer and dryer,17789858,Adam,"Edgewood, Bloomingdale, Truxton Circle, Eckington",38.911569,-77.009431,Entire home/apt,79,7,0,NaN,NaN,2,62

In [22]:
house_price.head(5)

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,38585,Charming Victorian home - twin beds + breakfast,165529,Evelyne,28804,35.65146,-82.62792,Private room,60,1,138,16/02/20,1.14,1,0
1,80905,French Chic Loft,427027,Celeste,28801,35.59779,-82.55540,Entire home/apt,470,1,114,07/09/20,1.03,11,288
2,108061,Walk to stores/parks/downtown. Fenced yard/Pet...,320564,Lisa,28801,35.60670,-82.55563,Entire home/apt,75,30,89,30/11/19,0.81,2,298
3,155305,Cottage! BonPaul + Sharky's Hostel,746673,BonPaul,28806,35.57864,-82.59578,Entire home/apt,90,1,267,22/09/20,2.39,5,0
4,160594,Historic Grove Park,769252,Elizabeth,28801,35.61442,-82.54127,Private room,125,30,58,19/10/15,0.52,1,0

In [24]:

import warningswarnings.filterwarnings("ignore")TO REMOVE THE WARNINGS
house_price["name"][2] = "ASDDFGH"

SyntaxError: SyntaxError: invalid syntax

In [26]:
iris = pd.read_csv("/data/notebook_files/Iris.csv")
iris.tail(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [30]:
iris.dtypes

In [32]:
iris.describe()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,75.500000,5.843333,3.054000,3.758667,1.198667
std,43.445368,0.828066,0.433594,1.764420,0.763161
min,1.000000,4.300000,2.000000,1.000000,0.100000
25%,38.250000,5.100000,2.800000,1.600000,0.300000
50%,75.500000,5.800000,3.000000,4.350000,1.300000
75%,112.750000,6.400000,3.300000,5.100000,1.800000
max,150.000000,7.900000,4.400000,6.900000,2.500000

In [33]:
my_df = pd.DataFrame([[10, 20, 30, 40, "Avatar World"]], columns=["sepal_length", "sepal_width","petal_length", "petal_width", "species"])

In [40]:
iris_data = iris.append(my_df,ignore_index=True)
iris_data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_length,sepal_width,petal_length,petal_width,species
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica,NaN,NaN,NaN,NaN,NaN
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica,NaN,NaN,NaN,NaN,NaN
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica,NaN,NaN,NaN,NaN,NaN
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,10.0,20.0,30.0,40.0,Avatar World

In [41]:
iris_data.sort_index(inplace=True) # used to sort or reset index of dataset...

In [47]:
iris_data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_length,sepal_width,petal_length,petal_width,species
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica,NaN,NaN,NaN,NaN,NaN
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica,NaN,NaN,NaN,NaN,NaN
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica,NaN,NaN,NaN,NaN,NaN
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN,NaN
150,NaN,NaN,NaN,NaN,NaN,NaN,10.0,20.0,30.0,40.0,Avatar World

In [52]:
df = iris_data.sum(axis=1)

<ipython-input-52-ec26b39ad7a5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = iris_data.sum(axis=1)

In [58]:
iris_data['Sum'] = iris_data.sum(axis=1)
print(iris_data)

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1.0            5.1           3.5            1.4           0.2
1      2.0            4.9           3.0            1.4           0.2
2      3.0            4.7           3.2            1.3           0.2
3      4.0            4.6           3.1            1.5           0.2
4      5.0            5.0           3.6            1.4           0.2
..     ...            ...           ...            ...           ...
146  147.0            6.3           2.5            5.0           1.9
147  148.0            6.5           3.0            5.2           2.0
148  149.0            6.2           3.4            5.4           2.3
149  150.0            5.9           3.0            5.1           1.8
150    NaN            NaN           NaN            NaN           NaN

            Species  sepal_length  sepal_width  petal_length  petal_width  \
0       Iris-setosa           NaN          NaN           NaN          NaN
1       Iris-setosa           NaN          NaN           NaN          NaN
2       Iris-setosa           NaN          NaN           NaN          NaN
3       Iris-setosa           NaN          NaN           NaN          NaN
4       Iris-setosa           NaN          NaN           NaN          NaN
..              ...           ...          ...           ...          ...
146  Iris-virginica           NaN          NaN           NaN          NaN
147  Iris-virginica           NaN          NaN           NaN          NaN
148  Iris-virginica           NaN          NaN           NaN          NaN
149  Iris-virginica           NaN          NaN           NaN          NaN
150             NaN          10.0         20.0          30.0         40.0

          species    Sum
0             NaN   11.2
1             NaN   11.5
2             NaN   12.4
3             NaN   13.4
4             NaN   15.2
..            ...    ...
146           NaN  162.7
147           NaN  164.7
148           NaN  166.3
149           NaN  165.8
150  Avatar World  100.0

[151 rows x 12 columns]

<ipython-input-58-879de37b115e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris_data['Sum'] = iris_data.sum(axis=1)

In [59]:
df1 = pd.DataFrame(iris_data)
df1.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_length,sepal_width,petal_length,petal_width,species,Sum
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,11.2
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,11.5
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,12.4
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,13.4
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,15.2

In [61]:
iris_data.append(iris_data.sum(),ignore_index=True)

<ipython-input-61-a6d6399842ae>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris_data.append(iris_data.sum(),ignore_index=True)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal_length,sepal_width,petal_length,petal_width,species,Sum
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,11.2
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,11.5
2,3.0,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,12.4
3,4.0,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,13.4
4,5.0,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN,15.2
...,...,...,...,...,...,...,...,...,...,...,...,...
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica,NaN,NaN,NaN,NaN,NaN,164.7
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica,NaN,NaN,NaN,NaN,NaN,166.3
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN,NaN,165.8
150,NaN,NaN,NaN,NaN,NaN,NaN,10.0,20.0,30.0,40.0,Avatar World,100.0
151,11325.0,876.5,458.1,563.8,179.8,NaN,10.0,20.0,30.0,40.0,NaN,13503.2

In [62]:
iris_data.nunique() #to get unique values of overall dataset...

In [63]:
iris_data["Species"].nunique()

3

In [65]:
iris1 =pd.read_csv("/data/notebook_files/iris (1).csv") 
iris1.head()

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [78]:

iris2 = iris1.drop(axis = 1, columns = ["species"])
iris3 = iris2.copy()
iris4 = iris2 /iris3
extracted_col = iris1["species"]
iris4 = iris4.join(extracted_col)
#print(iris4)
new_iris = pd.DataFrame(iris4)
print(new_iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             1.0          1.0           1.0          1.0     setosa
1             1.0          1.0           1.0          1.0     setosa
2             1.0          1.0           1.0          1.0     setosa
3             1.0          1.0           1.0          1.0     setosa
4             1.0          1.0           1.0          1.0     setosa
..            ...          ...           ...          ...        ...
145           1.0          1.0           1.0          1.0  virginica
146           1.0          1.0           1.0          1.0  virginica
147           1.0          1.0           1.0          1.0  virginica
148           1.0          1.0           1.0          1.0  virginica
149           1.0          1.0           1.0          1.0  virginica

[150 rows x 5 columns]